<html ng-app="Madlib">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js'></script>
        <script src="module.js"></script>
        <script src="controller.js"></script>
    </head>
    <body>
        Name: <input type="text" ng-model="x">
        Age: <input type="number" ng-model="y">
        <p>
            {{x}} is {{y}} years old.
        </p>
        <section ng-controller="TestController as $ctrl" >
            <p ng-repeat="x in $ctrl.count">{{x}}:{{ $ctrl.message }}</p>
        </section>
        <div ng-mouseenter="count = count + 1" ng-init="count=0">Mouse over me!</div>

<h1>{{count}}</h1>
<div ng-mouseleave="count = count - 1" ng-init="count=0">Mouse over me! (and mouse away from me...)</div>

        <button ng-click="$ctrl.visable = true">show</button>
        <p ng-if="$ctrl.visable">
            I am visable
        </p>
        
    </body>
</html>